@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {

}

body {
    padding: 10px;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

a {
    color: #404040;
    text-decoration: none;
}